In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Stocks/AAPL.csv")

In [3]:
data["Date"] = pd.to_datetime(data["Date"])

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       252 non-null    datetime64[ns]
 1   Open       252 non-null    float64
 2   High       252 non-null    float64
 3   Low        252 non-null    float64
 4   Close      252 non-null    float64
 5   Adj Close  252 non-null    float64
 6   Volume     252 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 13.9 KB

In [5]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-03-23,57.020000,57.125000,53.152500,56.092499,55.661041,336752800
1,2020-03-24,59.090000,61.922501,58.575001,61.720001,61.245258,287531200
2,2020-03-25,62.687500,64.562500,61.075001,61.380001,60.907871,303602000
3,2020-03-26,61.630001,64.669998,61.590000,64.610001,64.113029,252087200
4,2020-03-27,63.187500,63.967499,61.762501,61.935001,61.458603,204216800
...,...,...,...,...,...,...,...
247,2021-03-16,125.699997,127.220001,124.720001,125.570000,125.570000,114740000
248,2021-03-17,124.050003,125.860001,122.339996,124.760002,124.760002,111437500
249,2021-03-18,122.879997,123.180000,120.320000,120.529999,120.529999,121229700
250,2021-03-19,119.900002,121.430000,119.680000,119.989998,119.989998,185023200
251,2021-03-22,120.330002,123.870003,120.260002,123.389999,123.389999,102495379